#game-status {
  font-size: 12px;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 5px;

  div {
    &#winning {
      background-color: #B3CCF5;
    }

    &.hit {
      animation: backgrondColorFadeOut 0.5s; 
    }
  }
}

@keyframes backgrondColorFadeOut {
	0% {
		background: #ee6055;
	}
	100% {
		background: white;
	}
}
