#controls {
  margin: 5px;
  border: 1px black solid;
  border-radius: 5px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .controls-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
  }

  .controls-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    flex: 1;
    border: 2px black solid;
    background-color: #EDF5B3;
    color: black;
    border-radius: 5px;
  }

  .current-settings {
    font-size: 8px;
  }

  .buttons-container {
    height: 100%;
  }

  .instructions {
    font-size: 8px
  }
}
