@import url('https://fonts.googleapis.com/css2?family=Corben&family=Oxygen+Mono&display=swap');

#maze-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oxygen Mono', sans-serif;
}
